.cake-banner {
	&__media {
		position: relative;
		img {
			height: 100vh;
			width: 100%;
			object-fit: cover;
			opacity: 0;
			transition: .5s all;
		}

		.slick-slider {
			img {
				opacity: 1;
				transition: .5s all;
			}
		}
	}
	&__media-list {
		pointer-events: none;
		.slick-slide {
			transition: .5s all !important;
			opacity: 0;
		}
		.slick-active {
			opacity: 1;
			img {
				animation: scale_slide 10s infinite;
			}
		}
	}
	h2.title {
		margin: 0;
	    display: flex;
	    align-items: center;
	    position: absolute;
	    top: 0;
	    left: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 2;
	    padding: 0 60px;
	    font-weight: 500;
	    max-width: 50%;
	    font-size: 60px;
	    line-height: 1.2;
	    font-family: $fontEnNarrow;
	    @media (max-width: 1023px) {
	    	max-width: 60%;
		    padding: 0 40px;
		    font-size: 40px;
	    }
	    @media (max-width: 767px) {
	    	width: 100%;
		    max-width: 100%;
		    padding-bottom: 40px;
		    align-items: flex-end;
		    text-align: center;
	    }
	}
	&__notification-body {
		padding: 50px 0;
		background: #F6EFE7;
		@media (max-width: 767px) {
			padding: 30px 20px;
		}
	}
	&__notification-title {
		text-align: center;
	    color: #4D4D4D;
	    font-size: 24px;
	    font-weight: bold;
	    @media (max-width: 767px) {
	    	font-size: 18px;
	    }
	}
	&__notification-info {
		text-align: center;
	    color: #4D4D4D;
	    font-weight: 500;
	    padding: 30px 0;
	    @media (max-width: 767px) {
	    	padding: 20px 0 30px 0;
	    }
	}
	&__notification-link {
		text-align: center;
		a {
			display: inline-flex;
		    border: 1px solid #AB8B8C;
		    height: 65px;
		    align-items: center;
		    justify-content: center;
		    padding: 0 50px;
		    border-radius: 65px;
		    color: #AB8B8C;
		    font-size: 16px;
		    font-weight: bold;
		    text-decoration: none !important;
		    &:hover {
		    	color: #fff;
		    	background: #AB8B8C;
		    }
		}
	}
}
@keyframes scale_slide {
	0% {
		transform: scale(1.06)
	}
	100% {
		transform: scale(1)
	}
	
}
.concept {
	padding: 80px 0;
	@media (max-width: 767px) {
		padding: 50px 0;
	}
	&__list-item {
		display: flex;
		margin: 0 -25px;
		align-items: center;
		@media (max-width: 1023px) {
			margin: 0 -20px;
		}
		@media (max-width: 767px) {
			flex-wrap:wrap;
			display: block;
			margin: 0;
		}
	}
	&__list-item-image {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 25px;
		position: relative;
    	transition: 1s all !important;
    	opacity: 0;
    	top: 60px;
    	&.animated {
    		opacity: 1;
    		top: 0;
    	}
		@media (max-width: 1023px) {
			padding: 0 20px;
		}
		@media (max-width: 767px) {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 0;
			margin-bottom: 20px;
		}
		img {
			border-radius: 24px;
		}
	}
	&__list-item-text {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 0 25px;
		color: #4D4D4D;
		font-weight: 500;
		position: relative;
    	transition: 1s all !important;
    	opacity: 0;
    	top: 60px;
    	&.animated {
    		animation-delay: 1s;
    		opacity: 1;
    		top: 0;
    	}
		@media (max-width: 1023px) {
			padding: 0 20px;
		}
		@media (max-width: 767px) {
			max-width: 100%;
			flex: 0 0 100%;
			padding: 0;
		}
		.title-en-line {
			color: #AB8B8C;
		    font-size: 16px;
		    font-weight: bold;
		    position: relative;
		    padding-left: 40px;
		    font-family: $fontEnNarrow;
		    letter-spacing: 1.6px;
		    @media (max-width: 767px) {
		    	font-size: 12px;
		    	padding-left: 35px;
		    }
		    &:after {
		    	content: "";
			    width: 30px;
			    background: #AB8B8C;
			    height: 2px;
			    position: absolute;
			    left: 0;
			    top: calc(50% - 1px);
			    @media (max-width: 767px) {
			    	width: 25px;
			    }
		    }
		}
		h3 {
			padding: 13px 0 35px 0;
		    color: #4D4D4D;
		    font-size: 24px;
		    font-weight: bold;
		    @media (max-width: 767px) {
		    	padding: 20px 0;
		    }
		}
	}
}

.product {
	&__button-link {
		text-align: center;
		margin-bottom: 70px;
		@media (max-width: 767px) {
			margin-bottom: 50px;
		}
		a {
			display: inline-flex;
		    height: 65px;
		    align-items: center;
		    justify-content: center;
		    padding: 0 100px;
		    text-decoration: none;
		    border: 1px solid #AB8B8D;
		    border-radius: 65px;
		    color: #AB8B8C;
		    font-size: 16px;
		    font-weight: bold;
			&:hover {
				background: #AB8B8D;
				color: #fff;
			}
		}
	}
	&__list {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		@media (max-width: 1023px) {
			margin: 0 -10px;
		}
	}
	&__list-item {
		flex: 0 0 25%;
		max-width: 25%;
		padding: 30px 15px;
		@media (max-width: 1023px) {
			padding: 20px 10px;
		}
		@media (max-width: 767px) {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 35px 10px 0 10px;	
			&:first-child, &:nth-child(2) {
				padding-top: 0;
			}
		}
	}
	&__list-link {
		display: block;
		text-decoration: none;
	}
	&__list-img {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    overflow: hidden;
	    border-radius: 24px;
	    margin-bottom: 20px;
	    @media (max-width: 767px) {
	    	border-radius: 14px;
	    	margin-bottom: 10px;
	    }
	}
	&__list-title {
		color: #AB8B8C;
	    font-size: 16px;
	    font-weight: 600;
	    text-decoration: none;
	    font-family: $fontEnNarrow;
	    letter-spacing: 1.6px;
	}
}

.list-image {
	&__body {
		padding: 50px 0;
		overflow: hidden;
		pointer-events: none;
		@media (max-width: 767px) {
			padding-bottom: 0;
		}
	}
	&__list {
		margin:  0 -12px;
		@media (max-width: 1023px) {
			margin: 0 -10px;
		}
	}
	&__list-item {
		padding: 0 12px;
		@media (max-width: 1023px) {
			padding: 0 10px;
		}
		&:nth-child(2n+1) {
			margin-top: 100px;
			@media (max-width: 767px) {
				margin-top: 50px;
			}
		}
	}
	&__list-img {
		img {
			border-radius: 24px;
		}
	}
}

.collection {
	&__body {
		padding: 40px 0 70px 0;
		@media (max-width: 767px) {
			padding: 50px 0;
		}
	}
	&-list__title {
		font-weight: bold;
		font-size: 24px;
		margin-bottom: 50px;
		@media (max-width: 767px) {
			font-size: 18px;
			margin-bottom: 30px;
		}
		span {
			display: block;
			position: relative;
			color: #AB8B8C;
		    font-size: 16px;
		    margin-bottom: 13px;
		    padding-left: 35px;
		    font-family: $fontEnNarrow;
		    letter-spacing: 1.6px;
		    @media (max-width: 767px) {
		    	font-size: 12px;
		    	margin-bottom: 20px;
		    }
		    &:after {
		    	content: "";
		    	height: 1px;
		    	width: 25px;
		    	background: #AB8B8C;
		    	position: absolute;
		    	top: 50%;
		    	left: 0;
		    }
		}
	}
	&__list {
		display: flex;
	    flex-wrap: wrap;
	    margin: 0 -10px;
	}
	&__list-item {
		flex: 0 0 50%;
		max-width: 50%;
		padding: 10px;
		position: relative;
		@media (max-width: 767px) {
			flex: 0 0 100%;
			max-width: 100%;
			padding: 5px 10px;
		}
		a {
			display: block;
			position: relative;
		}
		&:hover {
			h3.collection__list-title {
			    color: #fff !important;
			    border: 1px solid #fff !important;
			}
			.collection__list-img:after  {
				background: rgba(171, 139, 140, 0.6);
			}
		}
	}
	&__list-img {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    position: relative;
	    &:after {
	    	content: "";
		    width: 100%;
		    height: 100%;
		    background: #FFFFFFB2;
		    position: absolute;
		    top: 0;
		    left: 0;
	    }
	}
	&__list-title {
		position: absolute;
	    top: 15px;
	    left: 15px;
	    width: calc(100% - 30px);
	    height: calc(100% - 30px);
	    display: flex;
	    align-items: center;
	    justify-content: center; 
	    border: 1px solid #AB8B8C;
	    color: #AB8B8C;
	    font-size: 18px;
	    font-weight: bold;
	    pointer-events: none;
	}
}

.quality {
	.container {
		position: relative;
		z-index: 2;
	}
	&__body {
		padding: 80px 0; 
    	background: #F6EFE7;
    	position: relative;
    	@media (max-width: 767px) {
    		padding: 50px 0;
    	}
	}
	&__text {
		position: absolute;
	    left: 0;
	    top: 0;
	    img {
	    	@media (max-width: 767px) {
	    		width: 68px;
	    	}
	    }
	}
	&__list-item {
		display: flex;
		align-items: center;
		margin: 0 -42.5px; 
		margin-bottom: 50px;
		font-weight: 500; 
		@media (max-width: 1023px) {
			margin-left: -20px;
			margin-right: -20px;
		}
		@media (max-width: 767px) {
			margin-left: -10px;
			margin-right: -10px;
			flex-wrap: wrap;
		}
		&:last-child {
			margin-bottom: 0;
		}
		>div {
			flex: 0 0 50%;
			max-width: 50%;
			padding: 0 42.5px;
			@media (max-width: 1023px) {
				padding: 0 20px;
			}
			@media (max-width: 767px) {
				max-width: 100%;
				padding: 0 10px;
				flex: 0 0 100%;
			}
		}
		&:nth-child(2n) {
			>div:nth-child(2) {
				order:1;
				@media (max-width: 767px) {
					order: 2;
				}
			}
			>div:nth-child(1) {
				order:2;
				@media (max-width: 767px) {
					order: 1;
				}
			}
		}
	}
	&__list-item-image {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    @media (max-width: 767px) {
	    	margin-bottom: 20px;
	    }
		img {
			width: 100%;
			border-radius: 24px;
		}
	}
	h3 {
		color: #AB8B8C;
		font-size: 24px;
		font-weight: bold;
		margin-bottom: 30px;
		font-family: $fontEnNarrow;
		letter-spacing: 1.6px;
		@media (max-width: 767px) {
			margin-bottom: 15px;	
		}
	}
}
.instagram {
	padding: 80px 0 70px 0;
	@media (max-width: 767px) {
		padding: 50px 0;
	}
	.page-width {
		padding: 0 !important;
	}
}
#insta-feed {
	display: flex !important;
    flex-wrap: wrap;
    margin: 0 -10px !important;
    @media (max-width: 767px) {
    	margin: 0;
    }
    a {
    	display: block !important;
	    position: relative !important;
	    padding: 10px !important;
	    flex: 0 0 20%;
	    max-width: 20%;
    	@media (max-width: 767px) {
    		max-width: 50%;
    		flex: 0 0 50%;
    		padding: 20px 10px 0 10px;
    		&:nth-child(2n) {
    			padding-right: 0;
    		}
    		&:nth-child(2n+1) {
    			padding-left: 0;
    		}
    		&:first-child, &:nth-child(2) {
    			padding-top: 0;
    		}
    	}
    }
    .instafeed-container {
    	width: 100%!important;
    	padding: 100% 0 0 0 !important;
    }
}

.cake {
	font-weight: 500;
	position: relative;
	padding: 0 0 50px 0;
	@media (max-width: 767px) {
		padding: 0 0 30px 0;
	}
	&:after {
		content: "";
		width: 100%;
		height: 300px;
		background: url('../assets/cake_bk.jpg') no-repeat center;
		background-size: cover;
		position: absolute;
		top: 0;
		left: 0;
		@media (max-width: 767px) {
			height: 176px;
		}
	}
	&__media {
		position: relative;
    	z-index: 2;
    	.title {
    		margin: 0;
		    text-align: center;
		    display: flex;
		    align-items: center;
		    justify-content: center;
		    padding: 90px 0 0 0;
		    z-index: 3;
		    position: relative;
		    margin-bottom: -60px;
		    @media (max-width: 767px) {
		    	padding-top: 60px;
		    	margin-bottom: -34px;
		    }
		    img {
		    	@media (max-width: 767px) {
		    		width: auto;
		    		height: 68px;
		    	}
		    }
    	}
	}
	&__media-info-text {
		margin-top: 35px;
		@media (max-width: 767px) {
			margin-top: 30px;
		}
	}
	&__media-img {
		img {
			border-radius: 24px;
		}
	}
}